@import "./../global.scss";

// start from 360px breakpoint
#InnerGrid-main div {
  // position: relative;

  // the assigned table container of the user
  #Dashboard-assignedTable {
    // margin-bottom: 1.25rem;

    h2 {
      // margin-top: -1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }

    // table of assigned user in dashboard
    div {
      // margin-top: 1rem;
      cursor: pointer;
    }
  }

  //  the submitted table container of the user
  #Dashboard-submittedTable {
    h2 {
      // margin-top: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
    }

    // table of submitted user in dashboard
    div {
      // margin-top: 1rem;
      // margin-bottom: -1rem;
      cursor: pointer;
    }
  }

  // dashboard back to top link element
  .dashboard-backToTop_link {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    // background-color: red !important;
  }

  // * breakpoint of > 576px (sm)
  // @include media-breakpoint-up(sm) {
  // } //END breakpoint of > 576px (sm)

  // * breakpoint of > 768px (md)
  @include media-breakpoint-up(md) {
    .dashboard-backToTop_link {
      margin-top: 0rem;
      // margin-bottom: 0.5rem;
      // background-color: red !important;
    }
  } //END breakpoint of > 768px (md)

  // * breakpoint of > 992 (lg)
  // @include media-breakpoint-up(lg) {
  // } //END breakpoint of > 992 (lg)

  // * breakpoint of > 1200px (xl)
  // @include media-breakpoint-up(xl) {
  // } //END breakpoint of 1200px

  // * breakpoint of > 1400px (xxl)
  // @include media-breakpoint-up(xxl) {
  // } //END breakpoint of 1400px
}
