@import "../global.scss";

#LoginScreen-view {
  // iK? begin from 360px & up for starting breakpoint
  width: 100%;
  height: 100%;
  background: $myGradientWhiteGreen;

  // #LoginScreen-views-bugLogoImageContainerFallback {
  //   height: 32;
  //   width: 100%;
  // }

  #LoginScreen-view-imageHeaderContainer {
    margin-top: 1.6rem;
  }

  #LoginScreen-view-cardHeader {
    background-color: $myPrimaryLightBg;
  }

  #LoginScreen-view-dontSignup {
    margin-top: 0.5rem;
    margin-bottom: -0.9rem;
  }

  // * breakpoint of > 576px (sm)
  @include media-breakpoint-up(sm) {
    #LoginScreen-view-imageHeaderContainer {
      margin-top: 2.6rem;
    }

    #LoginScreen-view-loginButton {
      width: 80%;
    }
  } //END breakpoint of > 576px (sm)

  // * breakpoint of > 768px (md)
  @include media-breakpoint-up(md) {
    #LoginScreen-view-loginButton {
      width: 60%;
    }
  } //END breakpoint of > 768px (md)

  // * breakpoint of > 992 (lg)
  @include media-breakpoint-up(lg) {
    #LoginScreen-view-imageHeaderContainer {
      margin-top: 4rem;
    }
  } //END breakpoint of > 992 (lg)

  // * breakpoint of > 1200px (xl)
  //  @include media-breakpoint-up(xl) {
  //  } //END breakpoint of 1200px

  // * breakpoint of > 1400px (xxl)
  //  @include media-breakpoint-up(xxl) {
  //  } //END breakpoint of 1400px
}
