@import "../global.scss";

#LoginScreen-view {
  // iK? begin from 360px & up for starting breakpoint
  width: 100%;
  height: 100%;
  background: $myGradientWhiteGreen;

  #LoginScreen-view-imageHeaderContainer {
    margin-top: 1.6rem;
  }

  #LoginScreen-view-cardHeader {
    background-color: $myPrimaryLightBg;

    h2 {
      font-weight: bold;
    }

    small {
      margin-top: 10px;
    }
  }

  #LoginScreen-view-loginButton {
    box-shadow: 3px 5px 5px black !important;
  }

  #LoginScreen-view-dontSignup {
    margin-top: 0.5rem;
    // margin-bottom: -0.9rem;
    font-size: 1.1rem;
    font-weight: 800;
  }

  #LoginScreen-view-useGuestAccount {
    font-size: 1rem;
    font-weight: bold;
  }

  #userPasswordContainer {
    margin-top: 1rem;

    .userPasswordTextBox {
      text-align: left;
      // margin-left: 1rem;
      margin-left: 13%;
    }
  }

  @media screen and (min-width: 360px) {
    #userPasswordContainer {
      .userPasswordTextBox {
        margin-left: 18%;
      }
    }
  }

  @media screen and (min-width: 400px) {
    #userPasswordContainer {
      .userPasswordTextBox {
        margin-left: 23%;
      }
    }
  }

  @media screen and (min-width: 500px) {
    #userPasswordContainer {
      .userPasswordTextBox {
        margin-left: 29%;
      }
    }
  }

  // * breakpoint of > 576px (sm)
  @include media-breakpoint-up(sm) {
    #LoginScreen-view-imageHeaderContainer {
      margin-top: 2.6rem;
    }

    #LoginScreen-view-loginButton {
      width: 80%;
    }

    #userPasswordContainer {
      .userPasswordTextBox {
        margin-left: 30%;
      }
    }
  } //END breakpoint of > 576px (sm)

  // * breakpoint of > 768px (md)
  @include media-breakpoint-up(md) {
    #LoginScreen-view-loginButton {
      width: 60%;
    }
  } //END breakpoint of > 768px (md)

  // * breakpoint of > 992 (lg)
  @include media-breakpoint-up(lg) {
    #LoginScreen-view-imageHeaderContainer {
      margin-top: 4rem;
    }
  } //END breakpoint of > 992 (lg)

  // * breakpoint of > 1200px (xl)
  @include media-breakpoint-up(xl) {
    #LoginScreen-view-cardHeader {
      h2 {
        font-size: 1.5rem;
      }
    }

    #userPasswordContainer {
      .userPasswordTextBox {
        margin-left: 27%;
      }
    }
  } //END breakpoint of 1200px

  // * breakpoint of > 1400px (xxl)
  @include media-breakpoint-up(xxl) {
    #userPasswordContainer {
      .userPasswordTextBox {
        margin-left: 32%;
      }
    }
  } //END breakpoint of 1400px
}
