/* @import "../global.scss"; */

/* #TicketList-component {
  iK? begin from 360px & up for starting breakpoint
  margin-bottom: -1rem;
} */

/* ticket list table container element */
/* ! #TicketList-component > div.table-responsive */
#TicketList-component div {
  cursor: pointer;
  /* margin-top: -1rem; */
  /* margin-bottom: 1.5rem; */
  /* padding-bottom: 2rem; */
}

.ticketList-backToTop_link {
  /* background-color: blue !important; */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* * breakpoint of > 576px (sm) */
/* @include media-breakpoint-up(sm) {
   } //END breakpoint of > 576px (sm) */

/* * breakpoint of > 768px (md) */
/* @include media-breakpoint-up(md) {
   } //END breakpoint of > 768px (md) */

/* * breakpoint of > 992 (lg) */
/* @include media-breakpoint-up(lg) { */
@media (min-width: 992px) {
  .ticketList-backToTop_link {
    margin-top: 0rem;
  }
}

/* END breakpoint of > 992 (lg) */

/* * breakpoint of > 1200px (xl) */
/* @include media-breakpoint-up(xl) {
   } //END breakpoint of 1200px */

/* * breakpoint of > 1400px (xxl) */
/* @include media-breakpoint-up(xxl) {
   } //END breakpoint of 1400px */