.iKh1Class {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-evenly;
    background-color: yellow;
    font-size: 28px;
    transform: rotate(-5deg);
}

.IkP1Class {
    align-self: flex-end;
    background-color: pink;
    color: green;
}

.IkP2Class {
    align-self: flex-start;
    background-color: blue;
    color: cyan;
}
