@import "../global.scss";

// for label elements
@mixin labelSpan {
  label {
    font-size: 1.5rem;
    font-weight: 600;
    color: $secondary;
  }

  // the asterick within the label to indicate to user they must enter something
  span {
    font-weight: 300;
    color: $danger;
  }
}

#DeleteTicket_form-component {
  // iK? begin from 360px & up for starting breakpoint

  // input form
  .DeleteTicket_form-input {
    background-color: $mySecondaryInputBg;
  }

  .deleteTicket_form-titleHeading {
    @include labelSpan();
  }

  .deleteInputErrorResponse {
    color: $danger;
    font-size: 1.1rem;
    margin-top: 0.3em;
  }

  .deleteTicket-form-modal-buttons {
    width: 30%;
  }

  // * breakpoint of > 576px (sm)
  //  @include media-breakpoint-up(sm) {
  //  } //END breakpoint of > 576px (sm)

  // * breakpoint of > 768px (md)
  //  @include media-breakpoint-up(md) {
  //  } //END breakpoint of > 768px (md)

  // * breakpoint of > 992 (lg)
  //  @include media-breakpoint-up(lg) {
  //  } //END breakpoint of > 992 (lg)

  // * breakpoint of > 1200px (xl)
  //  @include media-breakpoint-up(xl) {
  //  } //END breakpoint of 1200px

  // * breakpoint of > 1400px (xxl)
  //  @include media-breakpoint-up(xxl) {
  //  } //END breakpoint of 1400px
}
