@import "../customBootstrap.scss";

#OuterGrid-header {
  // position: fixed;
  // top: 0;
  width: 100%;
  padding: 0;
  margin: 0;

  .header-logo {
    margin-top: 0.2em;
    margin-bottom: -0.25em;
    margin-left: 0.5rem;
  }

  // TODO center username after sm
  @include media-breakpoint-up(sm) {
    #Header-userName {
      // border: red 5px solid;
      width: 100%;
      display: inline-block;
      // justify-content: flex-end;
      color: $secondary;
      filter: brightness(2);
      font-size: 2rem;
      margin-left: 4em;
    }
  }
}
