// title page for all routes

@import "./../global.scss";

// start from 360px breakpoint
#TitlePage_component {
  color: $primary;
  font-size: 2.1em;
  margin-top: 0.6rem;

  // * breakpoint of > 576px (sm)
  // @include media-breakpoint-up(sm) {
  // } //END breakpoint of > 576px (sm)

  // * breakpoint of > 768px (md)
  @include media-breakpoint-up(md) {
    font-size: 2.4rem;
  } //END breakpoint of > 768px (md)

  // * breakpoint of > 992 (lg)
  // @include media-breakpoint-up(lg) {
  // } //END breakpoint of > 992 (lg)

  // * breakpoint of > 1200px (xl)
  // @include media-breakpoint-up(xl) {
  // } //END breakpoint of 1200px

  // * breakpoint of > 1400px (xxl)
  // @include media-breakpoint-up(xxl) {
  // } //END breakpoint of 1400px
}
