<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ htmlWebpackPlugin.options.title }}</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/ikmanifestdir/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/ikmanifestdir/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/ikmanifestdir/favicon-16x16.png">
		<link rel="manifest" href="/ikmanifestdir/manifest.json">
		<link rel="mask-icon" href="/ikmanifestdir/safari-pinned-tab.svg" color="#008037">
		<meta name="msapplication-TileColor" content="#008037">
		<meta name="theme-color" content="#ffffff">

	</head>
	<body>
		<div id='root'></div>
	</body>
</html>