@import "../global.scss";

#CreateTicket_form {
  // iK? begin from 360px & up for starting breakpoint

  // background-color: cornsilk;
  margin-top: -1.25rem;

  // all the inputs & select form area
  .CreateTicket_form-formInput {
    background-color: $mySecondaryInputBg;
  }

  // The input[type:text] container. The actual input text is within this container
  .textInputForm {
    // background-color: inherit;

    label {
      font-size: 1.5rem;
      font-weight: 600;
      color: $secondary;
    }

    // the asterick within the label to indicate to user they must enter something
    span {
      font-weight: 300;
      color: $danger;
    }

    .inputErrorResponse {
      color: $danger;
      font-size: 1.1rem;
      margin-top: 0.3em;
    }

    // #createTicketRowTitle {
    //   margin-bottom: 0.25rem !important;
    // }
  } // END .textInputForm

  // select option input for priority (container)
  .createTicketSelectForm-priorityNStatus {
    // the priority & status heading
    .createTicketHeading-priority,
    .createTicketHeading-status {
      div {
        font-size: 1.5rem;
        font-weight: 600;
        color: $secondary;
        display: inline-block;
      }

      span {
        font-weight: 300;
        color: $danger;
      }
    }

    .inputErrorResponse {
      color: $danger;
      font-size: 1.1rem;
      margin-top: 0.3em;
    }

    // a small margin for when in mobile mode until in md size, but convert back to zero back in md
    .createTicketHeading-status {
      margin-top: 0.25rem;
    }
  } //END createTicketSelectForm-priorityNStatus

  // container Row for assigned_user / app_name / app_version
  .createTicketSelectForm-assignedUserNAppNameNAppVersion {
    .createTicketHeading-assignedUser,
    .createTicketHeading-app_name,
    .createTicketHeading-app_version {
      label {
        font-size: 1.5rem;
        font-weight: 600;
        color: $secondary;
      }

      // the asterick within the label to indicate to user they must enter something
      span {
        font-weight: 300;
        color: $danger;
      }
    }

    .inputErrorResponse {
      color: $danger;
      font-size: 1.1rem;
      margin-top: 0.3em;
    }

    // a small margin for when in mobile mode until in md size which will separate to to box
    .createTicketHeading-app_name,
    .createTicketHeading-app_version {
      margin-top: 0.25rem;
    }
  }

  // .createTicketHeading-status {
  //   margin-top: 0.25rem;
  // }

  // * breakpoint of > 576px (sm)
  // @include media-breakpoint-up(sm) {
  // } //END breakpoint of > 576px (sm)

  // * breakpoint of > 768px (md)
  @include media-breakpoint-up(md) {
    .createTicketSelectForm-priorityNStatus {
      // a small margin for when in mobile mode until in md size, but convert back to zero back in md
      .createTicketHeading-status {
        margin-top: 0rem;
      }
    }
  } //END breakpoint of > 768px (md)

  // * breakpoint of > 992 (lg)
  @include media-breakpoint-up(lg) {
    width: 75% !important;
    display: flex;
    // justify-content: center;
    margin: auto;

    // * iK I place because for some bizare reason bootstrap order is not working for this <Col>
    #app_versionLgflex {
      order: 6 !important;
    }

    #app_nameErrorFlexOrder7 {
      order: 7 !important;
    }

    #app_versionErrorFlexOrder8 {
      order: 8 !important;
    }

    // a small margin for when in mobile mode until in md size which will separate to to box
    .createTicketHeading-app_name,
    .createTicketHeading-app_version {
      margin-top: 0rem !important;
    }

    .createTicket_titleField {
      width: 89%;
    }
  } //END breakpoint of > 992 (lg)

  // * breakpoint of > 1200px (xl)
  //  @include media-breakpoint-up(xl) {
  //  } //END breakpoint of 1200px

  // * breakpoint of > 1400px (xxl)
  //  @include media-breakpoint-up(xxl) {
  //  } //END breakpoint of 1400px
}
